BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-LEFT: 8%; MARGIN-RIGHT: 8%; MARGIN-TOP: 3em
}
H1 {
	COLOR: #006600; FONT-SIZE: 170%
}
H2 {
	COLOR: #006600; FONT-SIZE: 120%
}
H3 {
	COLOR: #006600; FONT-SIZE: 100%
}
H4 {
	COLOR: #006600; FONT-SIZE: 100%
}
H5 {
	COLOR: #006600; FONT-SIZE: 100%
}
H6 {
	COLOR: #006600; FONT-SIZE: 100%
}
PRE.codigo {
	BACKGROUND-COLOR: #e1e1e1; COLOR: #000000; MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
P.caption {
	FONT-SIZE: 80%; FONT-STYLE: italic; MARGIN-LEFT: 25%; MARGIN-RIGHT: 25%; TEXT-ALIGN: center
}
P {
	TEXT-ALIGN: justify
}
LI {
	TEXT-ALIGN: justify
}
TABLE.marco {
	BORDER-BOTTOM: #9b0000 1px solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: #9b0000 1px solid; BORDER-RIGHT: #9b0000 1px solid; BORDER-TOP: #9b0000 1px solid; COLOR: white; FONT-FAMILY: Arial; FONT-SIZE: 12px; WIDTH: 500px; font-weigth: 500; align: center
}
TR.marco {
	BACKGROUND-COLOR: #e4e4e4; COLOR: #9b0000
}
TD.marco {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
CAPTION.marco {
	BACKGROUND-COLOR: #9b0000; FONT-SIZE: 14px; TEXT-ALIGN: center; VERTICAL-ALIGN: top
}
