.marco {
	border: 1px solid #999999;

}
.navegacion {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 500;
	color: #000000;
	padding: 6px;
	text-decoration: none;
	border: 1px none #999999;


}
a.blanco:hover {
	color: #0066FF;
}
a.blanco {

	text-decoration: none;
	color: #000000;
}
.item {
	background-color: #BAC0D8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 0px none #00CCFF;
	padding: 5px;


}
.itemsel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #DCDCEF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E8F9FF;
	border-right-color: #E8F9FF;
	border-bottom-color: #E8F9FF;
	border-left-color: #E8F9FF;
	padding: 4px 5px;

}
a.menu {
	color: #000000;
	text-decoration: none;

}
a.menu:hover {
	color: #000000;
	text-decoration: underline;
}
.subitem {

	background-color: #BAC0D8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 0px none #00CCFF;
	padding: 5px 10px;
}
.separador {
	background-color: #CCCCCC;
}
body {
	margin: 0px;
	padding: 0px;
}
.contenido {
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	vertical-align: top;


}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #003399;
}
.pie {
	background-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-position: center;
	padding: 3px;
	text-align: right;


}
.subitemsel {
	background-color: #DCDCEF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 4px 10px;
	border-top: 1px solid #E4FFE1;
	border-right: 1px none #E4FFE1;
	border-bottom: 1px solid #E4FFE1;
	border-left: 1px none #E4FFE1;

}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0000CC;
}
.menu {
	background-color: #BAC0D8;
	margin: 0px;
	padding: 0px;

}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
}
.fecha {
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	color: #000099;
	font-weight: bold;
	margin-bottom: -1ex;


}
.sesion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 4px;
}
.filagris {
	background-color: #CCCCCC;
}
.filanegra {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
}
.enlacenegro {
	color: #FFFFFF;
	text-decoration: none;
}
.enlacenegro:hover {

	color: #FFFFFF;
	text-decoration: underline;
}
.nota{
	color:#ffffff;
	font-size:0.9em;
	background-color:#22557B;
	border:1px solid #c8c8c8;
	line-height:1.3em;
	padding:5px 5px 5px 8px;
}
.nota a{color:#f0f0f0;}

