
/******** General tags ********/

html {
background: #adadad url(images/bg_gradient.png) repeat-x fixed top;
}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
color:#404040;
line-height:1.2em;
margin:0 auto;
padding:0;
}

a{
text-decoration:none;
color:#00344d;
font-weight:bold;
}

a:hover{text-decoration:underline;}
a img{border:0;}
p{margin:0 0 10px 10px;}

ul,ol,dl{font-size:1em; margin: 0px 0px 10px 0px;}
ul ul,ol ol{margin:4px 0 4px 0px;}

h1{
font-size:4.2em;
letter-spacing:-5px;
margin:0 0 30px 25px;
color:#00344d;
}

h1 a{text-transform:none; color:#00344d;}

h2{
font-size:1.4em;
color:#00344d;
border-bottom:4px solid #dadada;
padding:0 2px 2px 5px;
margin:0 0 10px 0;
letter-spacing:-1px;
}

h3{
font-size:1.2em;
font-weight:bold;
color:#00344d;
border-bottom:1px solid #dadada;
margin:10px 0 8px 0;
padding:1px 2px 2px 3px;
}

blockquote{
font-size:0.9em;
border:1px dashed #dadada;
margin:20px 40px;
padding:8px;
}

/******** Main wrap ********/
#wrap{
color:#404040;
width:920px;
margin:30px auto;
background:#ffffff;
padding: 30px 30px 30px 30px;
border-style: solid;
border-width: 1px;
border-color: #c8c8c8;}

#header{margin:0;}

#toplinks{text-align:right; padding:5px 2px 2px 3px;}

#logo{
margin:15px 0px 20px 35px;
}

.sidebar{
position: absolute; top: 0; left:0;
width: 20%;
margin:0 0 5px 0;
padding:1px 0 0 0;
}

.sidebar ul{
list-style:none;
font-size:0.9em;
margin:0;
padding:0 0 15px 10px;
}

.sidebar li{
list-style:none;
margin:0 0 1px 0;
padding:0;
}

.sidebar li a{
font-size:1.1em;
font-weight:bold;
padding:2px;
}

.sidebar ul ul{
margin:4px 0 3px 15px;
line-height:1.2em;
padding:0;
}

.sidebar ul ul li a{font-weight:normal;}
.sidebar h2{margin:3px 0px 8px 0px;}

.content{
position: absolute; top: 0; left:20%;
width: 80%;
line-height:1.5em;
text-align:left;
margin:0;
padding:0;
}

.content ul {
margin: 10px 0px 10px 10px;
}

.content h3{
margin:10px 0 8px;
}

/******** Footer ********/
#footer{
position: relative;
text-align:left;
color:#808080;
font-size:0.9em;
border-top:1px solid #dadada;
margin: 30px 0px 0px 0px;
padding:5px 0px 0px 0px;
line-height:1.6em;
}

#footer p{margin:0; padding:0;}
#footer a{color:#808080;}

/******** Various classes ********/
.box{
color:#ffffff;
font-size:0.9em;
background-color:#00344d;
border:1px solid #c8c8c8;
line-height:1.3em;
padding:5px 5px 5px 8px;
}

.box a{color:#f0f0f0;}
.left{float:left; margin:0 15px 4px 0;}
.right{float:right; margin:0 0 4px 15px;}
.textright{text-align:right;}
.readmore{text-align:right; margin:-10px 10px 12px 0;}
.readmore-small{text-align:right; margin:-10px 10px 12px 0;font-size:0.8em;}

.compact{margin: 0 0 0 0;}
.center{text-align:center;}
.blue{color:#00344d;}
.big{font-size:1.3em;}
.small{font-size:0.8em;}
.bold{font-weight:bold;}

.clear{clear:both;}
.hide{display:none;}
.fade{color:#c8c8c8;}
.gray{color:#808080;}

.photo{
border:1px solid #bababa;
padding:2px;
background-color:#ffffff;
margin:6px 18px 10px 10px;
}

.clear_children,.cc_tallest { position: relative; } /**/* html .clear_children { display: inline;}/* PREVENTS MISSING CHILDREN IN IE WIN 5.0 */
.cc_tallest:after { content: ''; } /* PREVENTS A REDRAW BUG IN SAFARI */
